.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.merienda {
  font-family: "Merienda" !important;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0777AB !important;
}

.cursor {
  cursor: pointer;
}

.font-18 {
  font-size: 18px;
}

.font-50 {
  font-size: 50px;
}

.font-24 {
  font-size: 24px;
}

.text-blue {
  color: #0777AB !important;
}

.w-65 {
  width: 65%;
}

.bg-blue {
  background-color: #0777AB;
}

.animation {
  animation: 1.2s ease-out infinite zoom-in-zoom-out2;
}

@keyframes zoom-in-zoom-out2 {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
/* Placeholder color */
.custom-input input::-moz-placeholder {
  color: #CDCDCD;
  /* Placeholder color */
}
.custom-input input::placeholder {
  color: #CDCDCD;
  /* Placeholder color */
}

/* Error message style */
.error-message {
  color: red;
  font-size: 12px;
}

.space {
  letter-spacing: 1px;
}

.textImg {
  display: block;
  animation: heart 2s ease infinite;
}

@keyframes heart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
.textImg2 {
  display: block;
  animation: heart2 2s ease infinite;
}

@keyframes heart2 {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.opacity-custom {
  opacity: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7DBBF1;
  /* color of the thumb */
  border-radius: 5px;
  /* roundness of the thumb */
}

.content-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  left: 44%;
  z-index: 1000;
}

.fixed-button button {
  padding: 10px 20px;
  background-color: rgba(199, 199, 199, 0.4);
  /* Semi-transparent E9E9E9 */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
  backdrop-filter: blur(16px);
  /* Blur effect on the background */
  -webkit-backdrop-filter: blur(16px);
  /* For Safari support */
  color: #000;
  /* Add text color if needed */
}

.about-us {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: rgb(235, 241, 250);
  border-radius: 30px;
  border: 1px solid #EEEEEE;
}

.white-circle {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 50%;
}

.border-circle {
  height: 550px;
  width: 550px;
  border-radius: 50%;
}

.hero-title {
  font-size: 50px;
}

.arrow-rotate-box {
  display: inline-block;
}

.arrow-rotate {
  transition: transform 0.3s ease;
  transform: rotate(-40deg);
}

.arrow-rotate-box:hover .arrow-rotate {
  transform: rotate(0deg);
}

.game1 {
  position: absolute !important;
  top: 80px;
  left: 40px;
  transform: rotate(-15deg);
  width: 115px;
}

.game2 {
  position: absolute !important;
  bottom: 130px;
  right: 30px;
  transform: rotate(-15deg);
  width: 100px;
}

.lol {
  position: absolute !important;
  top: 60px;
  left: 40px;
  transform: rotate(-15deg);
  width: 80px;
}

.prankster {
  position: absolute !important;
  bottom: 80px;
  right: 50px;
  transform: rotate(30deg);
  width: 80px;
}

.developer {
  position: absolute;
  bottom: 50px;
  right: 250px;
  animation: translateYInfinite 3s infinite;
  /* Animation with 2s duration and infinite repeat */
}

.first-div {
  animation: firstDivAnimation 8s linear infinite;
  transform: scale(1);
  opacity: 1;
  animation-delay: 3s;
}

.sec-div {
  transform: scale(0);
  opacity: 0;
  animation: secondDivAnimation 8s linear infinite;
  animation-delay: 3s;
}

@keyframes firstDivAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
  40%, 90% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes secondDivAnimation {
  90%, 0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  50%, 80% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes translateYInfinite {
  0% {
    transform: translateY(0);
    /* Starting position */
  }
  50% {
    transform: translateY(-25px);
    /* Move up by 50px */
  }
  100% {
    transform: translateY(0);
    /* Return to the starting position */
  }
}
.designer {
  position: absolute;
  bottom: -30px;
  right: -80px;
  animation: RotateInfinite 6s infinite;
  /* Animation with 2s duration and infinite repeat */
}

@keyframes RotateInfinite {
  0% {
    transform: translateY(0);
    /* Starting position */
  }
  25% {
    transform: translateX(20px);
    /* Move up by 50px */
  }
  50% {
    transform: translateY(20px);
    /* Return to the starting position */
  }
  75% {
    transform: translateX(-20px);
    /* Return to the starting position */
  }
  100% {
    transform: translateY(0px);
    /* Return to the starting position */
  }
}
.about-bg {
  background-image: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(235, 241, 250);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.image-animate {
  opacity: 0;
  transform: scale(0);
  transition: opacity 2.5s ease, transform 1.5s ease 1s;
}

.image-animate.visible {
  opacity: 1;
  transform: scale(1);
}

.text-animate {
  opacity: 0;
  animation: slideInFromLeft 1s ease forwards 1s;
  animation-play-state: paused;
}

.text-animate.visible {
  animation-play-state: running;
}

.about-box {
  width: 75px;
  height: 75px;
  line-height: 75px;
  border: 1px dashed #0777AB;
  border-radius: 8px;
  text-align: center;
}

.main-box {
  perspective: 1000px; /* Creates a 3D effect for the flip */
}

.about-box img {
  transition: transform 0.5s linear; /* Smooth transition for flip effect */
  transform-style: preserve-3d; /* Ensures the 3D effect works properly */
}

.main-box:hover .about-box img {
  animation: none; /* Remove animation */
  transform: rotateY(180deg); /* Apply the flip */
}

.fixed-top-btn {
  position: fixed;
  bottom: 5px;
  right: 4%;
  z-index: 1000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #0777AB;
  text-align: center;
  line-height: 45px;
  color: #0777AB;
}

.footer-width {
  width: 75%;
}

.common-footer {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.box1 {
  background-color: #0777AB;
}

.box2 {
  background-color: #25D366;
}

.box3 {
  background-image: linear-gradient(to right, #CD0076, #DF0041);
}

.hover-box2 {
  transform: rotateZ(0deg);
  transition: all 0.2s linear !important;
}

.box1:hover {
  background-color: white;
  border: 2px solid #0777AB;
}

.hover-box:hover .hover1 {
  color: #0777AB !important;
}

.box2:hover {
  background-color: white;
  border: 2px solid #25D366;
}

.hover-box:hover .hover2 {
  color: #25D366 !important;
}

.box3:hover {
  background-image: linear-gradient(to right, white, white);
  border: 2px solid #CD0076;
}

.hover-box:hover .hover3 {
  color: #CD0076 !important;
}

.hover-box:hover .hover-box2 {
  transform: rotateZ(360deg);
}

.stack-box {
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
}

.download-btn {
  width: 200px;
  height: 60px;
}

@media (max-width: 576px) and (min-width: 0px) {
  .game1 {
    width: 60px;
    top: 40px;
    left: 20px;
  }
  .game2 {
    width: 60px;
    bottom: 50px;
    right: 20px;
  }
  .lol {
    width: 50px !important;
    top: 30px;
    left: 20px;
  }
  .prankster {
    width: 50px !important;
    bottom: 50px;
    right: 20px;
  }
}
@media (max-width: 930px) and (min-width: 0px) {
  .developer {
    bottom: 80px;
    left: 210px;
    z-index: 1000;
  }
  .designer {
    top: -120px;
    right: 80px;
    z-index: 1000;
  }
  .footer-width {
    width: 100%;
  }
}
@media (max-width: 1350px) and (min-width: 1199px) {
  .white-circle {
    height: 450px;
    width: 450px;
  }
  .border-circle {
    height: 550px;
    width: 550px;
  }
}
@media (max-width: 1198px) and (min-width: 849px) {
  .white-circle {
    height: 390px;
    width: 390px;
  }
  .border-circle {
    height: 480px;
    width: 480px;
  }
  .game1 {
    width: 100px;
    top: 85px;
    left: 20px;
  }
  .game2 {
    width: 100px;
    bottom: 85px;
    right: 20px;
  }
  .lol {
    width: 60px;
    top: 85px;
    left: 40px;
  }
  .prankster {
    width: 60px;
    bottom: 85px;
    right: 50px;
  }
}
@media (max-width: 850px) and (min-width: 605px) {
  .fixed-button {
    left: 40%;
  }
  .hero-title {
    font-size: 45px;
  }
  .white-circle {
    height: 390px;
    width: 390px;
  }
  .border-circle {
    height: 480px;
    width: 480px;
  }
  .game1 {
    top: 80px;
    left: 40px;
    width: 90px;
  }
  .game2 {
    bottom: 80px;
    right: 40px;
    width: 90px;
  }
  .lol {
    top: 60px;
    left: 60px;
    width: 70px;
  }
  .prankster {
    bottom: 80px;
    right: 50px;
    width: 70px;
  }
}
@media (max-width: 604px) and (min-width: 450px) {
  .fixed-button {
    left: 35%;
  }
  .hero-title {
    font-size: 35px;
  }
  .white-circle {
    height: 340px;
    width: 340px;
  }
  .border-circle {
    height: 410px;
    width: 410px;
  }
  .game1 {
    top: 60px;
    left: 30px;
    width: 80px;
  }
  .game2 {
    bottom: 60px;
    right: 30px;
    width: 80px;
  }
  .lol {
    top: 60px;
    left: 30px;
    width: 80px;
  }
  .prankster {
    bottom: 60px;
    right: 30px;
    width: 80px;
  }
}
@media (max-width: 449px) and (min-width: 390px) {
  .fixed-button {
    left: 30%;
  }
  .hero-title {
    font-size: 35px;
  }
  .white-circle {
    height: 280px;
    width: 280px;
  }
  .border-circle {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 389px) and (min-width: 0px) {
  .fixed-button {
    left: 25%;
  }
  .hero-title {
    font-size: 30px;
  }
  .white-circle {
    height: 260px;
    width: 260px;
  }
  .border-circle {
    height: 300px;
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */